In [1]:
if True:
    print('its true')

its true

In [2]:
if 2<3:
    print('its true')

its true

In [4]:
hungry =True
if hungry:
    print('its true')

its true

In [5]:
hungry =True
if hungry:
    print('hungry')
else:
    print('not hungry')

hungry

In [7]:
loc='bank'
if loc == 'autoshop':
    print('cars are cool')
elif loc=='bank':
    print('money is cool')
else:
    print('idk')

money is cool

In [11]:
name='sammu'
if name=='frank':
    print('hu frank')
elif name =='sammu':
    print('hello sammu')
else:
    print('whats your name')

hello sammu

In [12]:
my_i=[1,2,3]
for item in my_i:
    print(my_i)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [13]:
my_i=[1,2,3]
for item in my_i:
    print(item)

1
2
3

In [14]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [17]:
for num in mylist:
    if num %2 ==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [18]:
list_sum =0
for num in mylist:
    list_sum = list_sum+num
print(list_sum)

55

In [19]:
mys='Hello world'
for letter in mys:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [21]:
mys='Hello world'
for _ in mys:
    print(_)

H
e
l
l
o

w
o
r
l
d

In [24]:
tup=(1,2,3)
for _ in tup:
    print(_)

1
2
3

In [25]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [26]:
len(mylist)

4

In [27]:
for _ in mylist:
    print(_)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [28]:
  for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [29]:
mylist=[(1,2,3),(5,6,7),(8,9,10)]

In [30]:
for a,b,c in mylist:
    print(c)

3
7
10

In [31]:
d={'k1':1,'k2':2,'k3':3}

In [32]:
for _ in d:
    print(_)

k1
k2
k3

In [33]:
for i in d:
    print(i)

k1
k2
k3

In [34]:
for k,n in d:
    print(k)
    print(n)

k
1
k
2
k
3

In [35]:
for _ in d.items():
    print(_)

('k1', 1)
('k2', 2)
('k3', 3)

In [36]:
for a,b in d.items():
    print(a)

k1
k2
k3

In [37]:
for b in d.values():
    print(b)

1
2
3

In [43]:
x=0
while x<5:
    print(f'the current value of x is {x}')
    #x=x+1
    x+=1
else:
    print('X')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X

In [49]:
x=[1,2,3]
for item in x:
    pass
print('end')

end

In [52]:
mystring='sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [54]:
mystring='sammy'
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

s

In [57]:
x=0
while x<5:
    print(f'the current value of x is {x}')
    #x=x+1
    x+=1
    if x==2:
        break

the current value of x is 0
the current value of x is 1

In [59]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [60]:
range(1,11,2)

range(1, 11, 2)

In [63]:
index_count=0
for letter in 'abce':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is e

In [64]:
index_count=0
word='abce'
for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
e

In [67]:
index_count=0
word='abce'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'e')

In [68]:
word='abce'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
e

In [72]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [75]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [76]:
'x' in [1,2,3]

False

In [77]:
'a' in 'a worda'

True

In [78]:
'mykey' in {'mykey':345}

True

In [80]:
d ={'mykey':345}
345 in d.keys()
345 in d.values()

True

In [82]:
mylist=[1,2,3,4,5,6,7,8,9,10]
min(mylist)

1

In [83]:
max(mylist)

10

In [84]:
from random import shuffle

In [85]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
shuffle(mylist)

In [89]:
mylist

[5, 7, 8, 6, 9, 2, 10, 4, 1, 3]

In [90]:
from random import randint

In [92]:
randint(0,100)

67

result=input('Enter a number here')

In [96]:
result

'10'

In [97]:
float(result)

10.0

In [98]:
int(result)

10

In [99]:
mystring='hello'

In [100]:
mylist=[]

In [101]:
for letter in mystring:
    mylist.append(letter)

In [102]:
mylist

['h', 'e', 'l', 'l', 'o']

In [103]:
mylist=[letter for letter in mystring]

In [104]:
mylist

['h', 'e', 'l', 'l', 'o']

In [105]:
mylist=[x for x in 'word']

In [106]:
mylist

['w', 'o', 'r', 'd']

In [108]:
mylist=[x for x in range(0,11)]

In [109]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
mylist=[x**2 for x in range(0,11)]

In [111]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [112]:
mylist=[x for x in range(0,11) if x%2==0]

In [113]:
mylist

[0, 2, 4, 6, 8, 10]

In [114]:
celcius=[0,10,20,34.5]

In [117]:
fahrenheit=[((9/5)*temp+32) for temp in celcius]

In [118]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [119]:
fahrenheit=[]
for temp in celcius:
    fahrenheit.append((9/5)*temp+32)

In [120]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [122]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]

In [123]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [125]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [126]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [127]:
mylist=[]
for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [128]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [129]:
mylist=[x*y for x in [2,4,6] for y in [1,10,1000]]

In [130]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]