2-12-1

#

In [ ]:
2+1

In [ ]:
2-1

In [ ]:
2*2

In [ ]:
3/2

In [ ]:
7/4

In [5]:
7%4

3

In [1]:
50%5

0

In [2]:
23%2

1

In [3]:
20%2

0

In [4]:
2**3

8

In [ ]:
1+10*20+3

In [ ]:
(2+10)*(20+3)

0.1+0.2-0.3

In [ ]:
0.1+0.2-0.3

In [ ]:
a=10

In [ ]:
a

In [ ]:
a+a

In [ ]:
a=a+a

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a=1.1

In [ ]:
int+1

In [1]:
a

NameError: name 'a' is not defined

In [2]:
my_income=100
tax_rate=0.1
mytaxes=my_income*tax_rate

In [3]:
mytaxes

10.0

In [8]:
"hello"

'hello'

In [5]:
"hello"

'hello'

In [7]:
'this is also'

'this is also'

In [12]:
len("I am")

4

In [3]:
mystring = "Hello World"

In [14]:
print("hello \tworld")

hello 	world

In [18]:
mystring[-2]

'l'

In [19]:
mystring[-1]

'd'

In [21]:
mystring[3]

'l'

In [4]:
mystring

'Hello World'

In [25]:
mystring[4:]

'o World'

In [28]:
mystring[3:8]

'lo Wo'

In [31]:
mystring[::3]

'HlWl'

In [6]:
mystring[::-1]

'dlroW olleH'

In [34]:
name="SIM"

In [36]:
#name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [38]:
last_letters = name[1:]

In [39]:
last_letters

'IM'

In [40]:
'P'+last_letters

'PIM'

In [43]:
x+' is a beautiful place'

' hello world is a beautiful place'

In [44]:
x = x + ' hello world'

In [45]:
x

' hello world hello world'

In [46]:
letter = 'z'

In [47]:
letter*10

'zzzzzzzzzz'

In [48]:
2+3

5

In [49]:
'2'+'3'

'23'

In [50]:
x='hello world'

In [52]:
x.upper()

'HELLO WORLD'

In [57]:
x.split('l')

['he', '', 'o wor', 'd']

In [58]:
print('heloo')

heloo

In [75]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [79]:
print('The {2} {0} {0}'.format('fox','brown','quick'))

The quick fox fox

In [80]:
print('the {b} {f} {q}'.format(f='fox',b='brown',q='quick'))

the brown fox quick

In [81]:
result = 100/777

In [88]:
result =104.123456

In [90]:
print('the result was {r:1.2f}'.format(r=result))

the result was 104.12

In [91]:
print('the result was {r:1.2f}'.format(r=result))

the result was 104.12

In [92]:
name='jose'

In [94]:
print(f'Hello, his name is {name}')

Hello, his name is jose

In [95]:
name='Sam'
age = 3

In [96]:
print(f'{name} i {age} years old')

Sam i 3 years old

In [3]:
my_list=[1,2,3]

In [8]:
my_list=['STRING',100,23.2]

In [9]:
my_list

['STRING', 100, 23.2]

In [10]:
len(my_list)

3

In [12]:
mylist=['one','two','three']

In [13]:
mylist

['one', 'two', 'three']

In [14]:
mylist[1:]

['two', 'three']

In [15]:
another_list=['four','five']

In [16]:
mylist+another_list

['one', 'two', 'three', 'four', 'five']

In [18]:
new_list=mylist+another_list

In [19]:
new_list

['one', 'two', 'three', 'four', 'five']

In [20]:
new_list

['one', 'two', 'three', 'four', 'five']

In [22]:
new_list[0]='ONE ALL CAPS'

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [24]:
new_list.append('six')

In [25]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [26]:
new_list.append('seven')

In [27]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [28]:
new_list.pop()

'seven'

In [29]:
 popped=new_list.pop()

In [30]:
popped

'six'

In [31]:
new_list.pop(0)

'ONE ALL CAPS'

In [32]:
new_list

['two', 'three', 'four', 'five']

In [33]:
 new_list = ['a','b','e','x','b','c']

In [34]:
num_list=[4,1,8,3,8]

In [35]:
new_list.sort()

In [36]:
new_list

['a', 'b', 'b', 'c', 'e', 'x']

In [37]:
num_list.sort()

In [38]:
num_list

[1, 3, 4, 8, 8]

In [39]:
num_list.reverse()

In [40]:
num_list

[8, 8, 4, 3, 1]

In [44]:
my_dict={'key1':'value1','key2':'value2'}

In [45]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [46]:
my_dict['key1']

'value1'

In [47]:
prices={'apple':2.99,'oranges':1.99,'milk':5.80}

In [49]:
prices['apple']

2.99

In [50]:
d={'k1':123,'k2':[0,1,2],'k3':100}

In [51]:
d['k2']

[0, 1, 2]

In [52]:
d['k3']

100

In [53]:
d={'k1':123,'k2':[0,1,2],'k3':{'ik':100}}

In [54]:
d['k3']['ik']

100

In [55]:
d['k2'][2]

2

In [56]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'ik': 100})])

In [57]:
d.values()

dict_values([123, [0, 1, 2], {'ik': 100}])

In [58]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [59]:
True

True

In [60]:
type(False)

bool

In [61]:
1>2

False

In [62]:
1==1

True

In [64]:
b=None

In [65]:
b

In [66]:
type(b)

NoneType

In [67]:
set([1,1,2,3])

{1, 2, 3}

In [68]:
%%writefile myfile.txt
Hello this is a text file
this second line
This is third line

Writing myfile.txt

In [69]:
myfile=open('myfile.txt')

In [70]:
pwd

'/Users/chema/Google Drive/Estudio - Libros/python/Complete Python Bootcamp'

In [71]:
myfile.read()

'Hello this is a text file\nthis second line\nThis is third line\n'

In [72]:
myfile.read()

''

In [80]:
myfile.seek(0)

0

In [74]:
myfile.read()

'Hello this is a text file\nthis second line\nThis is third line\n'

In [78]:
contents=myfile.read()

In [79]:
contents

'Hello this is a text file\nthis second line\nThis is third line\n'

In [81]:
myfile.readlines()

['Hello this is a text file\n', 'this second line\n', 'This is third line\n']

In [82]:
myfile.close()

In [85]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [86]:
contents

'Hello this is a text file\nthis second line\nThis is third line\n'

In [87]:
with open('myfile.txt',mode='r') as my_new_file:
     contents = my_new_file.read()

In [88]:
s='hello'

In [89]:
s[::-1]

'olleh'